<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h1> mandrill testing </h1>

<form class="form-horizontal" id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Contact Us</legend>

<br>

<!-- everyfield is required or else email will not be sent through -->
<!-- name input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name"> Name * </label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="Enter your name here" class="form-control input-md" required="true">
  </div>
</div>
<br>

<!-- title input -->
<div class="form-group">
  <label for="title"> Title * </label>
  <input id="title" name="title" type="text" placeholder="subject of your query" required="true">
</div>
<br>

<!-- email input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email"> Email Address * </label>  
  <div class="col-md-5">
  <input id="email" name="email" type="text" placeholder="Enter your email address here" class="form-control input-md" required="true">
  </div>
</div>
<br>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="message">Your Message * </label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="message" name="message" cols="20" rows="5" placeholder="Enter your message here" required="true"></textarea>
  </div>
</div>
<br>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary"> Submit </button>
  </div>
</div>

</fieldset>
</form>
