<h2>Ambassadors </h2>

<br>
<%= link_to "Add an Ambassador", new_ambassador_path %>
<br><br>

<div class="row">
<% @ambassadors.each do |a| %>
  <div class="col-sm-6 col-md-4 col-lg-2 text-center">
    <div>
      <%= fetch_profile_image_model(a) %>
    </div>
    <div>
      <h4><%= link_to(a.name, a) %></h4>
    </div>
  </div>
<% end %>
</div>