<h1> list of all the Ambassadors </h1>

<%= link_to "Add Ambassador", new_ambassador_path %>

<% @ambassadors.each do |a| %>
  <div>
    <%= fetch_profile_image_model(a) %>
  </div>
  <div>
    <h2>Name: <%= link_to(a.name, a) %></h2>
  </div>
<% end %>