

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require froala_editor.min.css
 *= require froala_style.min.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 *{
  box-sizing: border-box;
 }

 #container{ 
  margin:0 auto;
  padding: 30px;
  max-width: 960px;
 }

 #header{
  margin: 0 auto;
 }

 #nav{
  vertical-align: top;
  margin: 0 auto;
  text-align: right; 
  background-color: papayawhip ;
  li{
    display: inline-block;
    margin: 10px;
  }
  a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
  a:hover{
    color: black;
  }
 }

 #logo{
  vertical-align: top;
  display: inline-block;
  width: 300px;
  height: 50px;
 }

 input:focus, textarea:focus{
  outline: 0;
 }

 .mentorName h2 {
  font-size: 30px;
 }

.mentorName a {
  font-size: 30px;
  color: black;
 }

 .mentorName {
  padding-bottom: 50px;
 }

.lg-col-4 {
  width: 33.33333%;
  margin: 31px auto;
  text-align: center;
  padding: 3px
}

