

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require froala_editor.min.css
 *= require froala_style.min.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h1,h2,h3,h4,h5,h6{
  color:rgba(81, 81, 87, 1)
}

body{
  --background-color: rgba(139, 196, 184, 1);
  --color: #b5b5b5;
  color: #000000;
}

.mainContent {
  min-height: 90vh;
  padding: 0px 40px;
}

.content-wrapper {
  background-color: #fcfcfc;
  border-radius: 0 0 10px 10px;
  --box-shadow: 0px 0px 20px black;
  border: 3px solid green;
}

.text-content {
  text-align: justify;
  padding: 10px 25px;
}

.amb-content {
  display: none;
}

#mainTitle {
}

 .container{
  max-width: 960px;
//   box-shadow: 0px 0px 20px black;
//   background-color: rgba(120, 180, 177, 1);
 }

#mainMenu {
  position: fixed;
  top: 50px;
  width: 100%;
  height:100%;
  background-color: #ffffff;
  display: none;
  z-index: 99999999;
}

footer {
  height: 200px;
  background-color:rgba(81, 81, 87, 1);
  box-shadow: 0px 0px 20px black;
  margin-top: 50px;
}

#imageSlider{
  margin-top: 50px;
  --box-shadow: 5px 0px 20px black;
  box-shadow: 0px 5px 20px black;
}

.padded_img {
  margin: 0 7px 15px 7px;
}



/******************************
  Slanting Box
******************************/
.slant-container {
background: #e7e7e7;
position: relative;
margin-top: 60px;

}

.slant-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -35px;
  width: 100%;
  height: 60px;
  background: #e7e7e7;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
}

.slant-content {
  position: relative;
  margin: 10px 0;
  padding: 0 20px;
  padding-bottom: 10px;
}

/******************************
  Slanting Box - End
******************************/


/******************************
  Over-rides
******************************/
.slick-slider {
  margin-bottom: 0px;
}

/******************************
  Over-rides - End
******************************/


/******************************
  Not Used
******************************/
.top-buffer {
  margin-top: 50px;
  }

.infoCircle{
  height: 200px;
}

.post{
  // height:400px; this is deleted so it will adjust to post length
  // background-color: linen;
  padding: 30px;
}

.col-centered {
float: none;
margin: 0 auto
}

#line {
  border-top: 2px solid black;

};

.image {
  padding-top: 15px;
}

.header{
  margin-bottom: 50px;
  background-size: 100%;
  height: 600px;
  padding-top: 150px;
  background-repeat: no-repeat;
}


.banner-container {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  z-index: 500;
}

.banner{
  position: absolute;
  width: 100%;
  padding: 20px;
  border: 5px solid white;
  background-color: rgba(0, 0, 0, .3);
  font-size: 16px; font-size: 4vw;
  text-align: center;
  color: white;
  top: -25%;
  left: -50%;
}

.headerSignup{
  display: block;
  text-align: center;
}

/******************************
  Not Used - End
******************************/





