

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require froala_editor.min.css
 *= require froala_style.min.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.top-buffer {
  margin-top:20px;
  }

.post{
  height:400px;
  background-color: beige;
  padding: 30px;
}

body{
  background-color: rgba(139, 196, 184, 1)
}

.container{
  box-shadow: 0px 0px 20px black;
  background-color: rgba(196, 255, 187, 1);
}

.header{
  margin-bottom: 50px;
  background-size: 100%;
  height: 600px;
  padding-top: 150px;
  background-repeat: no-repeat;
}

.headerTitle{
  display: inline-block;
  padding: 50px;
  border: 10px solid white;
}
.headerSignup{
  display: block;
  text-align: center;
}
#mainMenu {
  position: fixed;
  top: 50px;
  width: 100%;
  height:100%;
  background-color: #ffffff;
  display: none;
  z-index: 50;
}
