// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#imageSlider{
  text-align: center;
}

#homePageInfoWrapper{
  margin:auto 0;
  text-align: center;
}

.homePageInfo{
  margin: 0px 20px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}
